<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs')%>
		<h1>Add an Event</h1>
		<form action="/events" method="POST">
			Place: <input type="text" name="name" /><br />
			Time: <input type="text" name="img" /><br />
            Attendees: <input type="text" name="description"/><br />
            There: <input type="text" name="address"/><br />
			<input type="submit" name="" value="Add Place" />
		</form>

	</body>
</html>
</body>
</html>