<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>
        <%- include('../partials/header.ejs')%>
        <body class= 'bg-img'>
            <div class="hero is-fullheight is-primary has-background">
                <img alt="filler" class="hero-background " src="/bg.png" />
                <div class="hero-body">
                  <div class="container">
        <div class='card'>
            <div class='field'>
        <div class='control has-text-centered'>
		<div class='is-size-3'>Add a place</div>
		<form action="/places" method="POST">
		 <input class='input' placeholder="Place Title" type="text" name="name" /><br />
		<input class='input' placeholder="Image Link" type="text" name="img" /><br />
           <input class='input' placeholder="Description" type="text" name="description"/><br />
             <input class='input' placeholder="Place Address" type="text" name="address"/><br />
             <input class='input' placeholder="Place Type" type="text" name="type"/><br />
            <input class='input' placeholder="Place Tags" type="text" name="tags"/><br />
			<input class='button is-success' type="submit" name="" value="Add Place" />
		</form>
    </div>
</div>
</div>
                  </div>
                </div>
            </div>
	</body>

</html>
</body>
</html>