<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
    <title>New Place</title>
</head>
<%- include('../partials/header.ejs')%>

<body class='bg-img has-navbar-fixed-top'>
    <div class="hero is-fullheight is-primary has-background">
        <img alt="filler" class="hero-background " src="/bg.png" />
        <div class="hero-body">
            <div class="container">
                <div class='columns is-centered'>
                    <div class='column is-half has-text-centered'>
                <div class='card pb-2'>
                    <div class='field'>
                        <div class='control has-text-centered'>
                            <div class='is-size-3'>Add a place</div>
                            <form action="/places" method="POST">
                                <input class='input' placeholder="Place Title" type="text" name="name" /><br />
                                <div class='block my-2'></div>
                                <input class='input' placeholder="Image Link" type="text" name="img" /><br />
                                <div class='block my-2'></div>
                                <input class='input' placeholder="Description" type="text" name="description" /><br />
                                <div class='block my-2'></div>
                                <input class='input' placeholder="Place Address" type="text" name="address" /><br />
                                <div class='block my-2'></div>
                                <input class='input' placeholder="Place Type" type="text" name="type" /><br />
                                <div class='block my-2'></div>
                                <input class='input' placeholder="Place Tags" type="text" name="tags" /><br />
                                <div class='block my-2'></div>
                                <input class='button is-success' type="submit" name="" value="Add Place" />
                                <div class='block my-2'></div>
                            </form>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
</body>

</html>