<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>
<%- include('../partials/header.ejs')%>
<body>

        <li>
            <%=place.name %> 
            </li>
   
</body>
</html>