<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>BeThere</title>
</head>

<%- include('./partials/header.ejs')%>

<body class='bg-img has-navbar-fixed-top'>
    <div class="hero is-fullheight is-primary has-background">
        <img alt="filler" class="hero-background " src="/bg.png" />
        <div class="hero-body">
            <div class="container">
               
                    <div id='card-hero' class="card is-horizontal columns mx-auto">
                        <div class="card-content column is-two-fifths mx-auto" >
                            <p class="is-size-2 mt-6 has-text-dark" class='hero-text'>
                                Wanna Hang?
                            </p>
                            <br />
                            <p class="is-size-4 has-text-dark" class='hero-text'>
                                At your favorite place?
                            </p>
                            <div class=' my-6'>
                                <a href='/places' class="button is-danger is-centered">Check out some places.
                                    </a>
                            </div>
                        </div>
                        <div class='card-image column is-three-fifths'>
                            <figure id='hero' class="image is 4by3 m-auto">
                                <img src="/connect.jpg" alt="Image">
                            </figure>
                        </div>
                    </div>
                    <div class='block my-6'></div>
                    <div class='columns'>
                        <div class='block my-6'></div>
                            <div class='column my-6 is-half has-text-centered'>
                                <a href='/user/signup' class="button is-large is-primary is-centered">Sign-up to connect
                                    now</a>
                            </div>
                            <div class='block my-6'></div>
                            <div class='column my-6 is-half has-text-centered'>
                                <a href='/user/login' class="button is-large is-primary is-centered ">Login if you're a
                                    member</a>
                            </div>
                </div>
            </div>
                    
                        
                    

            

            </div>
        </div>
    </div>



</body>

</html>