/* @import "/node_modules/bulma/css/bulma.css"; */



.navbar-item:hover{
    background-color:grey !important;
}
a {
   color: white !important;
   font-weight:bold;
}

.headerTag{
    height:200px;
    margin-left: 15px;
}

.navbar-burger{
    color:teal !important;
}

.hero-text {
    margin:0;
}

#hero{
   width: 300px;
   margin-top: 0;
}
.input {
    max-width: 300px;
}