/* @import "/node_modules/bulma/css/bulma.css"; */



.navbar-item:hover{
    background-color:grey !important;
}
a {
   color: white !important;
   font-weight:bold;
}

.headerTag{
    height:200px;
    margin-left: 15px;
}

.navbar-burger{
    color:teal !important;
}

.hero-text {
    margin:0;
}

#hero{
   width: 300px;
   margin-top: 0;
}
.input {
    max-width: 300px;
}

.bg-img { 
    background-image: url(bg.png) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    /* background-color: #999; */

}

.hero.has-background {
    position: relative;
    overflow: hidden; }
  
  .hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%; }
    .hero-background.is-transparent {
      opacity: 0.3; }