<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>

    <%- include('../partials/header.ejs')%>
    <body class= 'bg-img'>
        <div class="hero is-fullheight is-primary has-background">
            <img alt="filler" class="hero-background " src="/bg.png" />
            <div class="hero-body">
              <div class="container">
    Dash
              </div>
            </div>
        </div>
        
</body>
</html>