<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <div class='column has-text-centered is-centered'>
    <h1 class='title'>Signup</h1>
    <p>Please Enter A Username and Password to Join</p>
    <form class='subtitle'action="/user/signup" method="POST" autocomplete="off">
        <label>Username:
            <input type="text" name="username" required>
        </label><br>
        <label>Password:
            <input type="password" name="password" required>
        </label><br>
        <input type="submit" value="Sign Up">
    </form>
</div>
</body>
</html>